<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VR-Exist - AI Assistant</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="./assets/css/style.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&family=Quicksand:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- 
    - HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <a href="#" class="logo">
          <img src="./assets/images/logo.svg" alt="Landio logo" />
        </a>

        <button class="menu-toggle-btn" data-nav-toggle-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <nav class="navbar">
          <ul class="navbar-list">
            <li>
              <a href="#hero" class="navbar-link">Home</a>
            </li>

            <li>
              <a href="#features" class="navbar-link">Features</a>
            </li>

            <li>
              <a href="#contact" class="navbar-link">Give Feedback</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <article>
        <!-- 
        - HERO
      -->

        <section class="hero" id="hero">
          <div class="container">
            <div class="hero-content">
              <h1 class="h1 hero-title">VR-Exist <br />Coming Soon...</h1>

              <p class="hero-text">
                A creative & modern landing page with Landio template & We love
                make things amazing.
              </p>

              <p class="form-text">
                <span>🥳</span> Nemo enim ipsam voluptatem quia voluptas sit
                aspernatur that is fugit.
              </p>

              <form class="hero-form" id="subscribeForm">
                <input
                  type="email"
                  name="email"
                  required
                  placeholder="Enter Your Email"
                  class="email-field"
                />

                <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
              <br />
              <div id="subscribeSuccessMsg"></div>
            </div>

            <figure class="hero-banner">
              <img src="./assets/images/hero-banner.png" alt="Hero image" />
            </figure>
          </div>
        </section>

        <!-- 
        - FEATURES
      -->

        <section class="features" id="features">
          <div class="container">
            <div class="features-wrapper">
              <figure class="features-banner">
                <img
                  src="./assets/images/features-img-1.png"
                  alt="illustration art"
                />
              </figure>

              <div class="features-content">
                <h3 class="features-content-title">
                  <b>INTRODUCTION</b>
                </h3>

                <p class="features-content-text">
                  We will create an AI assistant integrated with VRChat, which
                  will experience the virtual worlds that we visit and the
                  interactions we have, thus learning with and from us. AI will
                  get to know us through our eyes, so it can connect us with
                  other people and experiences throughout the VR chat worlds.
                  This will be an extension/plugin for VR Chat which will boost
                  users’ experiences in the app. It will act as a social
                  enhancer smart assistant with various features/functions such
                  as, matching people according to compatibility, recommending
                  users virtual worlds and experiences according to the users’
                  interests and character. The AI will be our eyes and ears in
                  VR chat, learning with us and making our experiences smoother
                  and better. Additionally, we will create features for the VR
                  Chat creators as well, such as toxic behavior detection and
                  auto-moderation in the metaverse worlds. This ethical AI
                  system will provide safety and moderation in the virtual
                  worlds created by VR Chat users.
                </p>
              </div>
            </div>

            <div class="features-wrapper">
              <figure class="features-banner">
                <img
                  src="./assets/images/features-img-2.png"
                  alt="illustration art"
                />
              </figure>

              <div class="features-content">
                <h3 class="features-content-title">
                  <b>WHAT IS VR CHAT?</b>
                </h3>

                <p class="features-content-text">
                  VRChat is a virtual universe where users can create their own
                  virtual worlds and socialize with people from all over the
                  world. It has over 10M users and daily active user count is
                  estimated to be 100K. People come here to socialize, play
                  games, chill out and relax in VR, listen to music and attend
                  festivals and events and network. Almost anything that happens
                  in the real world can happen in VR Chat as well and sometimes
                  even better things. VR Chat has an established community and
                  enhancing this experience with AI, will be beneficial to the
                  VR Chat users. People attend movie nights, they host house
                  parties, they drink in VR with others, they attend seminars,
                  network events, business expos and even meditation classes and
                  music festivals and so on… So in all of these experiences,
                  having an AI assistant will enable you to connect faster with
                  people who have similar interests and personalities as you,
                  saving you a lot of time and enabling you to have better and
                  more meaningful connections without wasting time.
                </p>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="features-wrapper">
              <figure class="features-banner">
                <img
                  src="./assets/images/features-img-1.png"
                  alt="illustration art"
                />
              </figure>

              <div class="features-content">
                <h3 class="features-content-title">
                  <b>WHY?</b>
                </h3>

                <p class="features-content-text">
                  VR Chat users (10 million) are there to connect with other
                  people and experience new worlds and social events. However,
                  finding suitable worlds and people to hang out with is
                  difficult because you have to spend a lot of time visiting a
                  lot of worlds and you have to meet with everyone and talk to
                  them for a while to figure out if they are a match for you or
                  not. So, by having a smart assistant, you can do these
                  analyses faster and without losing much time you can start
                  having fun and connect with people. You don’t have to spend
                  time browsing all the worlds, AI can suggest the best places
                  for you in seconds. In VR Chat, a lot of underage kids are
                  acting toxic and ruining everyone’s experience which is a huge
                  problem for people who just want to socialize and make new
                  friends. So, toxic behavior detector AI will be a game
                  changer. Also, when people act toxic, it’s hard to report
                  them, this AI will do it automatically. In addition, creating
                  worlds is cool but when there is nobody inside, they are not
                  fun at all. That’s why we will create smart NPCs for world
                  creators to spawn them in their worlds for more fun and
                  interactive worlds. These NPCs will also act as ethical AI
                  guards in the metaverse. Finally, we will create a
                  text-to-development AI tool for easier (no-code) world
                  creation for non-developers.
                </p>
              </div>
            </div>

            <div class="features-wrapper">
              <figure class="features-banner">
                <img
                  src="./assets/images/features-img-2.png"
                  alt="illustration art"
                />
              </figure>

              <div class="features-content">
                <h3 class="features-content-title">
                  <b>HOW?</b>
                </h3>

                <p class="features-content-text">
                  Our learning algorithm is an (AI) neural network who will
                  continuously learn from you and with you, by being your eyes
                  and ears in the VR chat worlds. We will build an “experience”
                  learning interface enabling interactive recommendations which
                  will continuously become better as we experience various
                  things in the metaverse. We will ensure user privacy and
                  security by not storing any information on our servers,
                  instead everything will be stored on users’ devices.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- 
        - ABOUT
      -->

        <section class="about">
          <div class="container">
            <div class="about-content">
              <div class="about-icon">
                <ion-icon name="cube"></ion-icon>
              </div>

              <h2 class="h2 about-title">Why VRChat?</h2>

              <p class="about-text">
                There are over 25,000 community created worlds and growing
                VRChat offers an endless collection of social VR experiences by
                giving the power of creation to its community.
              </p>
            </div>

            <ul class="about-list">
              <li>
                <div class="about-card">
                  <div class="card-icon">
                    <ion-icon name="thumbs-up"></ion-icon>
                  </div>

                  <p class="card-text">
                    <b>Already has a community of millions of VR users</b>
                  </p>
                </div>
              </li>

              <li>
                <div class="about-card">
                  <div class="card-icon">
                    <ion-icon name="trending-up"></ion-icon>
                  </div>
                  <p class="card-text">
                    <b>Interact with people all over the world</b>
                  </p>
                </div>
              </li>

              <li>
                <div class="about-card">
                  <div class="card-icon">
                    <ion-icon name="shield-checkmark"></ion-icon>
                  </div>
                  <p class="card-text">
                    <b>Create long lasting friendships</b>
                  </p>
                </div>
              </li>

              <li>
                <div class="about-card">
                  <div class="card-icon">
                    <ion-icon name="server"></ion-icon>
                  </div>
                  <p class="card-text">
                    <b>Build worlds and invite people to them</b>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- 
        - FORM
      -->

        <section class="contact" id="contact">
          <div class="container">
            <h2 class="h2 section-title">
              Would You Like To Share Your Feedback?
            </h2>

            <p class="section-text">
              We'd love to hear your feedback about our product. So we can
              improve it much better.
            </p>

            <div class="contact-wrapper">
              <form class="contact-form" id="feedbackForm">
                <div class="wrapper-flex">
                  <div class="input-wrapper">
                    <label for="name">Name*</label>

                    <input
                      type="text"
                      name="name"
                      id="name"
                      required
                      placeholder="Enter Your Name"
                      class="input-field"
                    />
                  </div>

                  <div class="input-wrapper">
                    <label for="email">Email*</label>

                    <input
                      type="text"
                      name="email"
                      id="email"
                      required
                      placeholder="Enter Your Email"
                      class="input-field"
                    />
                  </div>
                </div>

                <div class="wrapper-flex">
                  <div class="input-wrapper">
                    <label for="twitter">Twitter</label>

                    <input
                      type="text"
                      name="twitter"
                      id="twitter"
                      placeholder="Enter Your Twitter Adress"
                      class="input-field"
                    />
                  </div>

                  <div class="input-wrapper">
                    <label for="discord">Discord</label>

                    <input
                      type="text"
                      name="discord"
                      id="discord"
                      placeholder="Enter Your Discord Adress"
                      class="input-field"
                    />
                  </div>
                </div>

                <label for="feedback">Feedback</label>

                <textarea
                  name="feedback"
                  id="feedback"
                  placeholder="Type Your Feedback"
                  class="input-field"
                ></textarea>

                <button type="submit" class="btn btn-primary">
                  <span>Submit</span>

                  <ion-icon name="paper-plane-outline"></ion-icon>
                </button>
              </form>
              <br />
              <div id="formSuccessMsg"></div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <script>
      //Show a succes message to user after the form submitted

      const feedbackForm = document.getElementById("feedbackForm");
      feedbackForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(feedbackForm);
        const name = formData.get("name");
        const email = formData.get("email");
        const twitter = formData.get("twitter");
        const discord = formData.get("discord");
        const feedback = formData.get("feedback");

        const res = await fetch("/submit-form", {
          method: "POST",
          body: JSON.stringify({ name, email, twitter, discord, feedback }),
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await res.json();

        formSuccessMsg.innerText = data.message;

        feedbackForm.reset();

        setTimeout(() => {
          formSuccessMsg.innerText = "";
        }, 5000);
      });

      //Show a succes message to user after subscribed

      const subscribeForm = document.getElementById("subscribeForm");
      subscribeForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(subscribeForm);
        const email = formData.get("email");

        const res = await fetch("/subscribe", {
          method: "POST",
          body: JSON.stringify({ email }),
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await res.json();

        email.innerText = "";

        subscribeSuccessMsg.innerText = data.message;

        subscribeForm.reset();

        setTimeout(() => {
          subscribeSuccessMsg.innerText = "";
        }, 5000);
      });
    </script>

    <!-- 
    - FOOTER
  -->

    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="footer-brand">
            <a href="#" class="logo">
              <img src="./assets/images/logo-footer.svg" alt="Landio logo" />
            </a>

            <p class="footer-text">
              Cras ultricies mi eu turpis sit hendrerit fringilla vestibulum
              ante ipsum primis in faucibus ultrices posuere cubilia.
            </p>

            <ul class="social-list">
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <div class="footer-link-box">
            <ul class="footer-list">
              <li>
                <p class="footer-item-title">ABOUT US</p>
              </li>

              <li>
                <a href="#" class="footer-link">Works</a>
              </li>

              <li>
                <a href="#" class="footer-link">Strategy</a>
              </li>

              <li>
                <a href="#" class="footer-link">Releases</a>
              </li>

              <li>
                <a href="#" class="footer-link">Press</a>
              </li>

              <li>
                <a href="#" class="footer-link">Mission</a>
              </li>
            </ul>

            <ul class="footer-list">
              <li>
                <p class="footer-item-title">CUSTOMERS</p>
              </li>

              <li>
                <a href="#" class="footer-link">Tranding</a>
              </li>

              <li>
                <a href="#" class="footer-link">Popular</a>
              </li>

              <li>
                <a href="#" class="footer-link">Customers</a>
              </li>

              <li>
                <a href="#" class="footer-link">Features</a>
              </li>
            </ul>

            <ul class="footer-list">
              <li>
                <p class="footer-item-title">SUPPORT</p>
              </li>

              <li>
                <a href="#" class="footer-link">Developers</a>
              </li>

              <li>
                <a href="#" class="footer-link">Support</a>
              </li>

              <li>
                <a href="#" class="footer-link">Customer Service</a>
              </li>

              <li>
                <a href="#" class="footer-link">Get Started</a>
              </li>

              <li>
                <a href="#" class="footer-link">Guide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            &copy; 2022 <a href="">codewithsadee</a>. All Right Reserved
          </p>
        </div>
      </div>
    </footer>

    <!-- 
    - custom js link
  -->
    <script src="./assets/js/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
